$paragraph:#0a1837ad;
$black1:#0a1837;
$black2:#36435e;

$border:#0a183726;

$hoverParaLink:rgb(10 24 55);
$blue1:#0073ff;
$blue2:#00a2ff;
$pink1:#f056b9;
$pink2:#ffa6df;
$green-1: #28c3ba;
$green-2: #78f5de;
$sandy:#ffa18c;

$white:#fff;



$bgc-grey:#f3f4f5;