.hero{
    padding: 5% 24px 12px;
    header{
        hgroup{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2.4rem;
            width: 80%;
            margin: auto;
            text-align: center;
        h2{
            font: $heading1;
            text-align: center;
            color: $black1;
            span{
                background-image: linear-gradient(45deg,$pink1, $pink2);
                color: $white;
                padding: 0 $space1;
                border-radius: $space1;
            }
            
            }
            p{
                max-width: 33em;
                font-size: 1.125em;
                line-height: 1.7em;
                color: $paragraph;
            }
        } 
    }
    }
   
    

